.Mo{
    color: aqua;
    background-color: orange;
   
}
.info{
    color: tomato;
    background-color: yellow;
    font-size: 20px;
}
.Mo1{
    color: red;
    background-color: aqua;
}
.myinfo{
    background-color: indigo;
}
.info1{
    color: yellow;
    background-color: black;
}